@import url('https://api.fonts.coollabs.io/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    /* ### Primary */
    --blue: hsl(223, 87%, 63%);
    
    /* ### Secondary */
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    
    /* ### Neutral */
    --gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Libre Franklin', sans-serif;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}
header {
    margin-block: 5.2rem 2.2rem;
}
.logo {
    width: 3.3rem;
}
main {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-section {
    text-align: center;
    width: 88%;
}
h1 {
    font-size: 1.325rem;
    font-weight: 500;
    color: var(--gray);
    letter-spacing: .02rem;
    margin-bottom: 1.15rem;
}
strong {
    color: black;
    font-weight: 700;
}
.subscribe {
    font-size: .75rem;
    padding-bottom: 2rem;
}
#email {
    width: 100%;
    margin-bottom: .3rem;
    padding: .675rem 2rem;
    border-radius: 1.5rem;
    outline: none;
    border: 1px solid var(--paleBlue);
}
::placeholder {
    color: var(--paleBlue);
    opacity: .75;
}
.msg {
    display: none;
    font-size: .65rem;
    font-style: italic;
    color: var(--lightRed);
    padding-bottom: 1.25rem;
}

button {
    width: 100%;
    padding: .725rem 2rem;
    border: none;
    border-radius: 1.5rem;
    background: var(--blue);
    color: white;
    margin-top: .3rem;
    cursor: pointer;
    box-shadow: 2px 3px 10px rgba(79, 125, 242, .5);
    transition: background .3s linear,
    box-shadow .3s linear;
}
button:hover {
    background: rgba(79, 125, 242, .9);
    box-shadow: 2px 3px 10px rgba(79, 125, 242, .4);
}
.illustration {
    width: 100%;
    margin-block: 4.25rem;
}
.illustration img {
    width: 100%;
}

.social-media {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .85rem;
}
.fa-facebook-f {
    color: var(--blue);
    border: 1px solid rgba(194, 211, 255, .5);
    border-radius: 50%;
    padding: .35rem .537rem;
    cursor: pointer;
    transition: color .3s linear, 
    background .3s linear;
}
.fa-facebook-f:hover {
    color: white;
    background: var(--blue);
}
.fa-twitter {
    color: var(--blue);
    border: 1px solid rgba(194, 211, 255, .5);
    border-radius: 50%;
    padding: .35rem;
    cursor: pointer;
    transition: color .3s linear, 
    background .3s linear;
}
.fa-twitter:hover {
    color: white;
    background: var(--blue);
}
.fa-instagram {
    color: var(--blue);
    border: 1px solid rgba(194, 211, 255, .5);
    border-radius: 50%;
    padding: .35rem .412rem;
    cursor: pointer;
    transition: color .3s linear, 
    background .3s linear;
}
.fa-instagram:hover {
    color: white;
    background: var(--blue);
}
footer {
    text-align: center;
}
.error .msg {
    display: block;
}
.error #email {
    border: 1px solid var(--lightRed);
}
.error .illustration {
    margin-top: 2.25rem;
}
.error .social-media {
    margin-top: 2rem;
}
.copyright {
    margin-block: 1.7rem;
    font-size: .625rem;
    color: var(--gray);
}
.attribution {
    padding-bottom: .5rem;
    font-size: .625rem;
    text-align: center;
    color: var(--gray); 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 42.5em) {

    body {
        max-width: 90rem;
    }
    header {
        margin-block: 5.3125rem 2.75rem; 
    }
    .logo {
        width: 5.45rem;
    }

    
    h1 {
        font-size: 3rem;
    }
    .subscribe {
        font-size: 1.25rem;
        padding-bottom: 2.28rem;
    }
    #form {
        width: 60%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    #email {
        width: 66%;
        margin: 0;
        padding-block: 1rem;
        font-size: 1.125rem;
        border-radius: 2rem;
    }
    button {
        width: 31%;
        margin: 0;
        padding-block: 1.056rem;
        font-size: 1.125rem;
        border-radius: 2rem;
    }
    .msg {
        text-align: left;
        padding-left: 2rem;
        width: 100%;
        order: 3;
        font-size: .75rem;
    }
    .illustration {
        width: 53%;
        margin-top: 5.5rem;
        margin-bottom: 1rem;
    }
    .illustration img {
        width: 100%;
        height: auto;
    }
}