@import url('https://api.fonts.coollabs.io/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    /* ### Primary */
    --blue: hsl(223, 87%, 63%);
    
    /* ### Secondary */
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    
    /* ### Neutral */
    --gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Libre Franklin', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    padding-block: 5.2rem 2.25rem;
    width: 3.3rem;
}
.form-section {
    text-align: center;
}
.main-header {
    font-size: 1.25rem;
    color: var(--gray);
    letter-spacing: .5px;
    margin-bottom: 1rem;
}
strong {
    color: black;
}
.subscribe {
    font-size: .75rem;
    padding-bottom: 1.75rem;
}
#email {
    width: 90%;
    margin-bottom: .15rem;
    padding: .6rem 2.25rem;
    border-radius: 1.5rem;
    outline: none;
    border: 1px solid var(--paleBlue);
}
::placeholder {
    color: var(--paleBlue);
    opacity: .75;
}
.error-msg {
    /* display: none; */
    font-size: .65rem;
    font-style: italic;
    color: var(--lightRed);
    padding-bottom: 1.5rem;
}
button {
    width: 90%;
    padding: .6rem 2.25rem;
    border-radius: 1.5rem;
    outline: none;
    border: none;
    background: var(--blue);
    color: white;
    margin-top: .5rem;
}
/* header {
    text-align: center;
} */
/* .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */
.fa-facebook-f {
    color: var(--blue);
    border: 1px solid var(--paleBlue);
    border-radius: 50%;
    padding: .5rem .687rem;
    cursor: pointer;
}
.fa-twitter {
    color: var(--blue);
    border: 1px solid var(--paleBlue);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}
.fa-instagram {
    color: var(--blue);
    border: 1px solid var(--paleBlue);
    border-radius: 50%;
    padding: .5rem .563rem;
    cursor: pointer;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}